.home{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
 &-next{
    display: flex;
    flex-direction: column;
 }
}
@media (max-width: $max-width) {
    .home{
        margin-top: 5rem;
        flex-direction: column;
    }
}
